@using SpaceTransporter.Models.Entities
@model SpaceTransporter.ViewModels.ShipViewModel
@using System.Linq

<html>
<head>
    <title>Space Transporter</title>
</head>
<body>
<h1>Spaceship Transport Manager</h1>
<h2>Ships</h2>
<table>
    <tr>
        <th>#</th>
        <th>Ship Name:</th>
        <th>Maximum Warp Speed:</th>
        <th>Current Location:</th>
        <th>Docking Action:</th>
    </tr>
    
    @foreach (var ship in @Model.Ships)
    {
        <tr>
            <td>@ship.Id</td>
            <td>@ship.Name</td>
            <td>@ship.MaxWarpSpeed</td>
            <td>@Model.Planets.Where(s => s.Id == @ship.PlanetId).Select(s => s.Name).FirstOrDefault()</td>
            @* <td>@foreach (var planet in @Model.Planets) *@
            @*     { *@
            @*         @if (@ship.PlanetId == planet.Id) *@
            @*         { *@
            @*             @planet *@
            @*         } *@
            @*     }</td> *@
            <form method="post" action="~/@ship.Id/edit">
                @if (@ship.IsDocked)
                {
                    //<td>@Html.ActionLink("Undocked", "HandleDockedUndocked","Home")</td>
                    <td><input type="submit" value="Undocked"></td>
                }
                else
                {
                    //<td>@Html.ActionLink("Docked", "HandleDockedUndocked","Home")</td>
                    <td><input type="submit" value="Docked"></td>
                }
            </form>
        </tr>
    }
</table>
<h2>Send Ship</h2>
<p>Ships can only be sent if they are undocked. 
    If you aren't seeing your ship in the select below, 
    make sure to undock it above.</p>
<form method="post" action="">
    <label for="ship">Which ship should be sent?</label>
    <select id="ship" name="ship">
        @foreach (var value in Model.Ships)
        {
            <option value="@value.Name">@value.Name</option>
        }
    </select>
    <label for="planet">To which planet?</label>
    <select id="planet" name="planet">
        @foreach (var planet in Model.Planets)
        {
            <option value="@planet.Name">@planet.Name</option>
        }
    </select>
    <input type="submit" value="Send the ship!">
</form>

<h2>Create New Ship</h2>
@using (Html.BeginForm("CreateShip", "Home", FormMethod.Post))
{
    //@Html.LabelFor(model => model.Ship.Name);
    //@Html.TextBoxFor(model => model.Ship.Name);
    <label for="shipName">Ship Name:</label>
    <input type="text" id="shipName" name="Name">
    <label for="maxWarp">Maximum Warp:</label>
    <input type="text" id="maxWarp" name="MaxWarpSpeed">
    //@Html.LabelFor(model => model.Ship.MaxWarpSpeed);
    //@Html.TextBoxFor(model => model.Ship.MaxWarpSpeed);
    <select id="planetName" name="PlanetId">
        @foreach (var item in Model.Planets)
        {
            <option id="planetName" value="@item.Id">@item.Name</option>
        }
    </select>
    <input type="submit" value="Create the ship!">
}
</body>
</html>